/* 公共 */
/* px:rem = 100:1 */
* {
  	margin: 0;
 	padding: 0;
  	font-family:'Microsoft Yahei', '微软雅黑', arial, \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti,'宋体';
}
a, a:active, a:hover, a:visited{
    text-decoration: none!important;
}
.wrap{
  	position: relative;
      width: 100%;
      padding-bottom: 0.7rem;
}
.foot{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0.5rem;
	background: #FFFFFF;
    border-top: 0.5px solid #979797;
    z-index: 999;
}
.foot .foot-item{
	position: relative;
	float: left;
	width: 1.25rem;
	height: 100%;
}
.foot .foot-item i{
	display: block;
	width:0.25rem;
	height: 0.25rem;
	margin: 0 auto;
	margin-top: 0.06rem;
	background: url(../img/icon_sprites.png);
	background-size: 3.06rem 2.84rem;
}
.foot .foot-item span{
	display: block;
	height: 0.17rem;
	font-size: 0.12rem;
	color: #969696;
	line-height: 0.17rem;
	text-align: center;
}
.foot .foot-item:nth-child(1) i{
	background-position: -2.76rem -0.05rem;
}
.foot .foot-item:nth-child(2) i{
	background-position: -1.83rem -2.22rem;
}
.foot .foot-item:nth-child(3) i{
	background-position: -2.76rem -0.05rem;
}
.foot .on span{
	color: #EF821E;
}
.foot .on:nth-child(1) i{
	background-position: -2.76rem -0.4rem;
}
.foot .on:nth-child(2) i{
	background-position: -1.48rem -2.22rem;
}
.foot .on:nth-child(3) i{
	background-position: -1.48rem -2.22rem;
}
.swiper-container{
	width: 100%;
	height: 2rem;
}
.swiper-slide{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-slide img{
	display: block;
	height: 100%;
	width: 100%;
}
.swiper-pagination-bullet{
	width: 0.1rem;
	height: 0.1rem;
	border-radius: 100%;
	opacity: .3;
	background: white;
	margin: 0 0.05rem!important;
} 
.swiper-pagination-bullet-active{
	background: white;
	opacity: 1;
}    

/* 登陆页 */
.login-content{
    margin-bottom: 0.2rem;
}
.logo{
    width: 1rem;
    height: 1.01rem;
    margin: 0 auto;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    background: url(../img/icon_sprites.png);
    background-size: 3.06rem 2.84rem;
    background-position: -0.05rem -0.05rem;
}
.login-input{
	position: relative;
	width: 2.95rem;
	height: 0.34rem;
	margin: 0 auto;
    margin-top: 0.2rem;
    border-radius: 0.04rem;
	border: 1px solid #EF821E;
}
.login-input:first-child{
	margin-top: 0;
}
.login-input input{
    height: 100%;
    width: 2.23rem;
	opacity: 0.3;
    margin-left: 0.58rem;
    opacity: 0.7;
    font-size: 0.14rem;
    color: #232323; 
    border: none;
}
.login-input span{
	position: absolute;
	display: block;
	height: 100%;
	line-height: 0.34rem;
	top: 0;
    left: 0;
    opacity: 0.7;
    font-size: 0.14rem;
    color: #232323;  
    margin-left: 0.14rem;
}
.login-a{
    height: 0.18rem;
	width: 2.95rem;
    margin: 0 auto;
    margin-top: 0.2rem;
    opacity: 0.7;
    font-size: 0.12rem;
    color: #EF821E;
    line-height: 0.18rem;;
}
.login-a a:first-child{
    display: block;
    float: left;
}
.login-a a:last-child{
    display: block;
    float: right;
}
.login-btn{
    display: block;
    height: 0.4rem;
    width: 2.95rem;
    background: #EF821E;
    border-radius: 1rem;
    margin: 0 auto;
    margin-top: 0.4rem;
    font-size: 0.14rem;;
    color: #FFFFFF;
    line-height: 0.4rem;
    text-align: center;
}
.login-foot{
    margin-top: 1.4rem;
}
.login-foot p{
    height: 100%;
    opacity: 0.7;
    font-size: 0.12rem;
    color: #A9A9A9;
    line-height: 100%;  
    text-align: center;  
    margin-bottom: 0.2rem;
}
.login-foot .login-foot-icon{
    margin: 0 auto;
    margin-bottom: 0.25rem;
    text-align: center;
}
.login-foot .login-foot-icon div{
    display: inline-block;
    height: 0.34rem;
}
/* .login-foot .login-foot-icon-icon div:after{
    clear: both;
} */
.login-foot .login-foot-icon i{
    float: left;
    display: block;
    width: 0.34rem;
    height: 0.34rem;
    background: url(../img/icon_sprites.png);
    background-size: 3.06rem 2.84rem;
}
.login-foot .login-foot-icon .login-foot-icon-wx{
    background-position: -1.25rem -1.16rem;
}
.login-foot .login-foot-icon .login-foot-icon-qq{
    background-position: -1.96rem -0.05rem;
}
.login-foot .login-foot-icon span{
    float: left;
    display: block;
    height: 0.24rem;
    width: 1px;
    margin: 0.05rem 0.15rem;
    background: #D4D4D4;
}
.login-foot .login-foot-a{
    margin: 0 auto;
    text-align: center;  
}
.login-foot .login-foot-a div{
    display: inline-block;
    height: 0.18rem;
    opacity: 0.7;
    font-size: 0.12rem;
    color: #EF821E;
    margin: 0 auto;
    text-align: center;  
}
.login-foot .login-foot-a a{
    display: block;
    float: left;
    height: 100%;
    line-height: 0.18rem;
}
.login-foot .login-foot-a span{
    display: block;
    float: left;
    height: 0.14rem;
    width: 1px;
    background: #EF821E;
    margin: 0.02rem 0.1rem;
}
/* 注册页 */
.yzm{
	position: relative;
	width: 2.95rem;
	height: 0.34rem;
	margin: 0 auto;
    margin-top: 0.2rem;
}
.yzm .login-input{
	float: left;
	width: 2rem;
	margin: 0;
}
.yzm .login-input input{
	width: 1.28rem;
}
.yzm a{
	display: block;
	float: right;
	height: 0.34rem;
	width: 0.8rem;
	background: #EF821E;
	border-radius: 4px;
	font-size: 0.12rem;
	color: #FFFFFF;
	line-height: 0.34rem;
	text-align: center;
}
.yzm .disabled{
	background: #A9A9A9;
}
/* 申请体验课程 */
.apply_desc{
	position: fixed;
	bottom: 0.2rem;
	left: 0.4rem;
	width: 2.95rem;
	opacity: 0.7;
	font-size: 0.12rem;
	color: #868686;
	line-height: 0.2rem;
	text-align: center;
}
/* 申请成功 */
.icon-ok{
	margin-top:0.6rem;
	margin-bottom: 0.2rem;
	height: 0.6rem;
	text-align: center;
}
.icon-ok i{
	display: inline-block;
	width: 0.6rem;
	height: 0.6rem;
    background: url(../img/icon_sprites.png);
	background-size: 3.06rem 2.84rem;
	background-position: -0.05rem -1.16rem;
}
.apply-success-desc{
	height: 0.3rem;
	font-size: 0.2rem;
	color: #232323;
	line-height: 0.3rem;
	text-align: center;
}
.apply-success-qr{
	height: 1.2rem;
	width: 1.2rem;
	margin: 0 auto;
	margin-top: 0.2rem;
}
.apply-success-qr img{
	display: block;
	height: 100%;
	width: 100%;
}
.apply-back{
	position: fixed;
	left: 1.275rem;
	bottom: 0.2rem;
	height: 0.4rem;
	width: 1.2rem;
	border: 1px solid #EF821E;
	border-radius: 1rem;
	line-height: 0.4rem;
	opacity: 0.7;
	font-size: 0.14rem;;
	color: #EF821E;
	text-align: center;
}
/* 我的 */
.my-head{
	width: 100%;
	height: 1.3rem;
	background: #EF821E;
	overflow: hidden;
}
.my-head .my-head-content{
	width: 3.15rem;
	height: 0.6rem;
	margin-top: 0.35rem;
	margin-left: 0.25rem;
}
.my-head .my-head-content .my-head-content-logo{
	display: block;
	float: left;
	height: 0.6rem;
	width: 0.6rem;
	border-radius: 100%;
}
.my-head .my-head-content .my-head-content-info{
	float: left;
	height: 0.6rem;
	width: 2.2rem;
	margin-left: 0.2rem;
}
.my-head .my-head-content .my-head-content-info .my-head-content-info-name{
	height: 0.25rem;
	font-size: 0.18rem;
	color: #FFFFFF;
	line-height: 0.25rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.my-head .my-head-content .my-head-content-info .my-head-content-info-tell{
	height: 0.2rem;
	margin-top: 0.15rem;
	opacity: 0.7;
	font-size: 0.14rem;
	color: #FFFFFF;
	line-height: 0.2rem;
}
.my-head i{
	position: absolute;
	display: block;
	top: 0.59rem;
	right: 0.45rem;
	width: 0.12rem;
	height: 0.08rem;
    background: url(../img/icon_sprites.png);
	background-size: 3.06rem 2.84rem;
	background-position: -2.18rem -1.63rem;
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-o-transform:rotate(-90deg); 
}
.my-list-item{
	height: 0.6rem;
	width: 3.35rem;
	margin: 0 auto;
	border-bottom: 1px solid #F1F1F1;
}
.my-list-item i{
	display: block;
	float: left;
	height: 0.28rem;
	width: 0.28rem;
	margin-left: -0.06rem;
	margin-top: 0.16rem;
    background: url(../img/icon_sprites.png);
	background-size: 3.06rem 2.84rem;
}
.my-list-item .course{
	background-position: -1.96rem -0.87rem;
}
.my-list-item .kefu{
	background-position: -1.96rem -0.49rem;
}
.my-list-item .help{
	background-position: -1.96rem -1.25rem;
}
.my-list-item .arr{
	float: right;
	display: block;
	width: 0.12rem;
	height: 0.08rem;
	margin-top: 0.26rem;
    background: url(../img/icon_sprites.png);
	background-size: 3.06rem 2.84rem;
	background-position: -1.69rem -1.42rem;
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-o-transform:rotate(-90deg); 
}
.my-list-item p{
	float: right;
	height: 0.6rem;
	margin-right: 0.15rem;
	font-size: 0.14rem;
	color: #EF821E;
	line-height: 0.6rem;
}
.my-list-item span{
	display: block;
	float: left;
	height: 0.6rem;
	line-height: 0.6rem;
	margin-left: 0.1rem;
	font-size: 0.16rem;
	color: #232323;
}
.my-course-item{
	position: relative;
	width: 2.95rem;
	height: 0.6rem;
	margin: 0 auto;
	border-bottom: 1px solid #F1F1F1;
	font-size: 0.14rem;
	color: #4B4B4B;
	line-height: 0.6rem;
}
.my-course-item .my-course-item-name{
	float: left;
	width: 0.8rem;
	height: 0.6rem;
}
.my-course-item .my-course-item-num{
	float: left;
	height: 0.6rem;
	margin-left: 0.3rem;
}
.my-course-item a{
	float: right;
	display: block;
	font-size: 0.14rem;
	color: #EF821E;
	height: 0.2rem;
	margin-top: 0.2rem;
	line-height: 0.2rem;
}
/* 公司介绍 */
.company-tab{
	width: 100%;
	height: 0.5rem;
}
.company-tab a{
	position: relative;
	display: block;
	float: left;
	height: 0.5rem;
	width: 1.25rem;
	font-size: 0.14rem;
	color: #8C8C8C;
	text-align: center;
	line-height: 0.5rem;
}
.company-tab .on{
	color: #EF821E;
}
.company-tab .on:after{
	position: absolute;
	display: block;
	content: '';
	bottom: 0;
	left: 0;
	width: 1.25rem;
	height: 0.04rem;
	background: #EF821E;
}
.company-info{
	width: 3.35rem;
	margin: 0 auto;
	margin-top: 0.2rem;
	opacity: 0.7;
	font-size: 0.12rem;
	line-height: 0.18rem;
}
.company-info .company-title{
	color: #A9A9A9;
	line-height: 0.18rem;
}
.company-info .company-desc{
	color: #4B4B4B;
	margin-top: 0.06rem;
}
/* 购买成功 */
.buy-success-tip{
    height: 0.28rem;
    margin-top: 0.2rem;
    text-align: center;
    line-height: 0.28rem;
    font-size: 0.2rem;
    color: #232323;
}
.buy-success-btn{
    height: 0.4rem;
    margin-top: 0.4rem;
    text-align: center;
}
.buy-success-btn a{
    display: inline-block;
    height: 0.4rem;
    width: 1.2rem;
    border-radius: 1rem;
    font-size: 0.14rem;
    text-align: center;
    line-height: 0.4rem;
}
.buy-success-btn .back{
    border: 1px solid #EF821E;
    color: #EF821E;
    margin-right: 0.2rem;
}
.buy-success-btn .share{
    background: #EF821E;
    color: white;
}
.buy-success-btn .share:active{
    background: #C4650E;
}
/* 无网络 */
.icon-no-wifi{
    margin-top: 1.16rem;
    text-align: center;
}
.icon-no-wifi i{
    display: inline-block;
    width: 0.71rem;
    height: 0.62rem;
    background: url(../img/icon_sprites.png);
	background-size: 3.06rem 2.84rem;
	background-position: -1.15rem -0.05rem;
}
.no-wifi-text{
    height: 0.17rem;
    margin-top: 0.24rem;
    line-height: 0.17rem;
    text-align: center;
    font-size: 0.12rem;
    color: #A9A9A9;
}
/* 加载中 */
.loading-content{
    height: 0.23rem;
    margin-top: 0.3rem;
    text-align: center;
}
.loading-content div{
    display: inline-block;
}
.loading-content i{
    display: block;
    float: left;
    height: 0.23rem;
    width: 0.24rem;
    background: url(../img/icon_sprites.png);
	background-size: 3.06rem 2.84rem;
	background-position: -2.76rem -1.09rem;
}
.loading-content span{
    display: block;
    float: left;
    height: 0.23rem;
    margin-left: 0.1rem;
    font-size: 0.12rem;
    color: #232323;
    line-height: 0.23rem;
}
/* 二维码 */
.qr-img{
    display: block;
    height: 2rem;
    width: 2rem;
    margin: 0 auto;
    margin-top: 0.9rem;
}
.qr-text{
    height: 0.25rem;
    margin-top: 0.17rem;
    line-height: 0.25rem;
    font-size: 0.18rem;
    color: #B7B7B7;
    text-align: center;
}
/* 热门活动 */
.activity-list{
    overflow: hidden;
    width: 3.35rem;
    margin: 0 auto;
}
.activity-list a{
    display: block;
    height: 1.8rem;
    margin-top: 0.2rem;
}
.activity-list a img{
    width: 100%;
    height: 100%;
}
/* 书房首页 */
.shufang-title{
    height: 0.25rem;
    margin: 0.2rem;
    line-height: 0.25rem;
    font-size: 0.18rem;
    color: #232323;
}
.shufang-title a{
    float: right;
    display: block;
    width: 0.5rem;
    font-size: 0.14rem;
    color: #EF821E;
    text-align: right;
}
.shufang-hot{
    height: 1.5rem;
    margin-left: 0.2rem;
    white-space:nowrap;
    overflow: hidden;
}
.shufang-hot a{
    position: relative;
    display: inline-block;
    width: 2.6rem;
    height: 1.5rem;
    margin-right: 0.15rem;
    border-radius: 0.08rem;
}
.shufang-hot a span{
    position: absolute;
    bottom: 0.11rem;
    left: 0.14rem;
    height: 0.16rem;
    line-height: 0.16rem;
    font-size: 0.11rem;
    color: #FFFFFF;
    text-shadow: 0 0 4px rgba(0,0,0,0.50);
}
.shufang-hot a img{
    height: 100%;
    width: 100%;
}
.shufang-nearby{
    width: 3.35rem;
    margin: 0 auto;
}
.shufang-nearby .shufang-nearby-item{
    position: relative;
    height: 2.5rem;
    margin-bottom: 0.15rem;
    border-radius: 0.08rem;
}
.shufang-nearby .shufang-nearby-item i{
    position: absolute;
    top: 0.17rem;
    right: 0.19rem;
    display: block;
    width: 0.25rem;
    height: 0.28rem;
    background: url(../img/icon_sprites.png);
	background-size: 3.06rem 2.84rem;
    background-position: -1.53rem -0.77rem;
}
.shufang-nearby .shufang-nearby-item .red{
    background-position: -1.15rem -0.77rem;
}
.shufang-nearby .shufang-nearby-item img{
    display: block;
    width: 100%;
    height: 1.8rem;
    border-top-left-radius: 0.08rem;
    border-top-right-radius: 0.08rem;
}
.shufang-nearby .shufang-nearby-item .shufang-nearby-item-foot{
    position: relative;
    height: 0.7rem;
    padding-left: 0.13rem;
    overflow: hidden;
}
.shufang-nearby .shufang-nearby-item .shufang-nearby-item-foot .shufang-nearby-item-foot-name{
    font-size: 0.14rem;
    color: #232323;
    height: 0.2rem;
    margin-top: 0.14rem;
    line-height: 0.2rem;
}
.shufang-nearby .shufang-nearby-item .shufang-nearby-item-foot .shufang-nearby-item-foot-addr{
    font-size: 0.11rem;
    color: #8C8C8C;
    height: 0.18rem;
    line-height: 0.18rem;  
}
.shufang-nearby .shufang-nearby-item .shufang-nearby-item-foot .shufang-nearby-item-foot-distance{
    position: absolute;
    bottom: 0.14rem;
    right: 0.13rem;
    font-size: 0.11rem;
    color: #EF821E;
    height: 0.16rem;
    line-height: 0.16rem;  
}