/* 公共 */
/* px:rem = 100:1 */
* {
  	margin: 0;
 	padding: 0;
  	font-family:'Microsoft Yahei', '微软雅黑', arial, \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti,'宋体';
}
a, a:active, a:hover, a:visited{
    text-decoration: none!important;
}
.wrap{
  	position: relative;
  	width: 100%;
}
.foot{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0.5rem;
	background: #FFFFFF;
	border-top: 0.5px solid #979797;
}
.foot .foot-item{
	position: relative;
	float: left;
	width: 1.25rem;
	height: 100%;
}
.foot .foot-item i{
	display: block;
	width:0.25rem;
	height: 0.25rem;
	margin: 0 auto;
	margin-top: 0.06rem;
	background: url(../img/icon_sprites.png);
	background-size: 3.06rem 2.84rem;
}
.foot .foot-item span{
	display: block;
	height: 0.17rem;
	font-size: 0.12rem;
	color: #969696;
	line-height: 0.17rem;
	text-align: center;
	font-weight: lighter;
}
.foot .foot-item:nth-child(1) i{
	background-position: -2.76rem -0.4rem;
}
.foot .foot-item:nth-child(2) i{
	background-position: -1.83rem -2.22rem;
}
.foot .foot-item:nth-child(3) i{
	background-position: -2.76rem -0.05rem;
}
.foot .on span{
	color: #EF821E;
}
.foot .on:nth-child(1) i{
	background-position: -2.18rem -2.22rem;
}
.foot .on:nth-child(2) i{
	background-position: -1.13rem -2.22rem;
}
.foot .on:nth-child(3) i{
	background-position: -1.48rem -2.22rem;
}
.swiper-container{
	width: 100%;
	height: 2rem;
}
.swiper-slide{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-slide img{
	display: block;
	height: 100%;
	width: 100%;
}
.swiper-pagination-bullet{
	width: 0.1rem;
	height: 0.1rem;
	border-radius: 100%;
	opacity: .3;
	background: white;
	margin: 0 0.05rem!important;
} 
.swiper-pagination-bullet-active{
	background: white;
	opacity: 1;
}    

/* 登陆页 */
.login-content{
    margin-bottom: 0.2rem;
}
.login-logo{
    width: 1rem;
    height: 1.01rem;
    margin: 0 auto;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    background: url(../img/icon_sprites.png);
    background-size: 3.06rem 2.84rem;
    background-position: -0.05rem -0.05rem;
}
.login-input{
	position: relative;
	width: 2.95rem;
	height: 0.34rem;
	margin: 0 auto;
    margin-top: 0.2rem;
    border-radius: 0.04rem;
	border: 1px solid #EF821E;
}
.login-input:first-child{
	margin-top: 0;
}
.login-input input{
    height: 100%;
    width: 2.23rem;
	opacity: 0.3;
    margin-left: 0.58rem;
    opacity: 0.7;
    font-size: 0.14rem;
    color: #232323; 
    border: none;
}
.login-input span{
	position: absolute;
	display: block;
	height: 100%;
	line-height: 0.34rem;
	top: 0;
    left: 0;
    opacity: 0.7;
    font-size: 0.14rem;
    color: #232323;  
    margin-left: 0.14rem;
}
.login-a{
    height: 0.18rem;
	width: 2.95rem;
    margin: 0 auto;
    margin-top: 0.2rem;
    opacity: 0.7;
    font-size: 0.12rem;
    color: #EF821E;
    line-height: 0.18rem;;
}
.login-a a:first-child{
    display: block;
    float: left;
}
.login-a a:last-child{
    display: block;
    float: right;
}
.login-btn{
    display: block;
    height: 0.4rem;
    width: 2.95rem;
    background: #EF821E;
    border-radius: 1rem;
    margin: 0 auto;
    margin-top: 0.4rem;
    font-size: 0.14rem;;
    color: #FFFFFF;
    line-height: 0.4rem;
    text-align: center;
}
.login-foot{
    margin-top: 1.4rem;
}
.login-foot p{
    height: 100%;
    opacity: 0.7;
    font-size: 0.12rem;
    color: #A9A9A9;
    line-height: 100%;  
    text-align: center;  
    margin-bottom: 0.2rem;
}
.login-foot .login-foot-icon{
    margin: 0 auto;
    margin-bottom: 0.25rem;
    text-align: center;
}
.login-foot .login-foot-icon div{
    display: inline-block;
    height: 0.34rem;
}
/* .login-foot .login-foot-icon-icon div:after{
    clear: both;
} */
.login-foot .login-foot-icon i{
    float: left;
    display: block;
    width: 0.34rem;
    height: 0.34rem;
    background: url(../img/icon_sprites.png);
    background-size: 3.06rem 2.84rem;
}
.login-foot .login-foot-icon .login-foot-icon-wx{
    background-position: -1.25rem -1.16rem;
}
.login-foot .login-foot-icon .login-foot-icon-qq{
    background-position: -1.96rem -0.05rem;
}
.login-foot .login-foot-icon span{
    float: left;
    display: block;
    height: 0.24rem;
    width: 1px;
    margin: 0.05rem 0.15rem;
    background: #D4D4D4;
}
.login-foot .login-foot-a{
    margin: 0 auto;
    text-align: center;  
}
.login-foot .login-foot-a div{
    display: inline-block;
    height: 0.18rem;
    opacity: 0.7;
    font-size: 0.12rem;
    color: #EF821E;
    margin: 0 auto;
    text-align: center;  
}
.login-foot .login-foot-a a{
    display: block;
    float: left;
    height: 100%;
    line-height: 0.18rem;
}
.login-foot .login-foot-a span{
    display: block;
    float: left;
    height: 0.14rem;
    width: 1px;
    background: #EF821E;
    margin: 0.02rem 0.1rem;
}

/* 我的 */
.my-head{
	width: 100%;
	height: 1.3rem;
	background: #EF821E;
	overflow: hidden;
}
.my-head .my-head-content{
	width: 3.15rem;
	height: 0.6rem;
	margin-top: 0.35rem;
	margin-left: 0.25rem;
	background: white;
}